<fieldset class="cbi-section">
	<legend><%:Running Status%></legend>
	<table width="100%" cellspacing="10" id="_xlnetacc_status_table">
		<tr><td id="nginx_run_state_head" width="33%"><%:Nginx Running Status%></td><td id="nginx_run_state"><em><%:Collecting data...%></em></td></tr>
		<tr><td id="mysql_run_state_head" width="33%"><%:MySQL Running Status%></td><td id="mysql_run_state"><em><%:Collecting data...%></em></td></tr>
		<tr><td id="php_run_state_head" width="33%"><%:PHP7 Running Status%></td><td id="php_run_state"><em><%:Collecting data...%></em></td></tr>
	</table>
	<legend><%:Website List%></legend>
	<table width="100%" cellspacing="10" id="website_list">
		<tr><td width="33%"><%:Address%></td><td id="php_run_state"><%:Website Name%></td></tr>
	</table>
</fieldset>

<script type="text/javascript">//<![CDATA[
	var nginx_state = document.getElementById('nginx_run_state');
	var nginx_state_head = document.getElementById('nginx_run_state_head');
	var mysql_state = document.getElementById('mysql_run_state');
	var mysql_state_head = document.getElementById('mysql_run_state_head');
	var php_state = document.getElementById('php_run_state');
	var php_state_head = document.getElementById('php_run_state_head');
	
	var website_list = document.getElementById('website_list');
	
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "services", "softwarecenter", "status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			if(status.nginx_installed){
				nginx_state.innerHTML = status.nginx_state ? '<em><b><font color=green><%:RUNNING%></font></b></em>' : '<em><b><font color=red><%:NOT RUNNING%></font></b></em>';
				nginx_state_head.style.display = 'table-cell';
				nginx_state.style.display = 'table-cell';
				}
			else{
				nginx_state_head.style.display = 'none';
				nginx_state.style.display = 'none';
			}
			if(status.mysql_installed){
				mysql_state.innerHTML = status.mysql_state ? '<em><b><font color=green><%:RUNNING%></font></b></em>' : '<em><b><font color=red><%:NOT RUNNING%></font></b></em>';
				mysql_state_head.style.display = 'table-cell';
				mysql_state.style.display = 'table-cell';
				}
			else{
				mysql_state_head.style.display = 'none';
				mysql_state.style.display = 'none';
			}
			if(status.php_installed){
				php_state.innerHTML = status.php_state ? '<em><b><font color=green><%:RUNNING%></font></b></em>' : '<em><b><font color=red><%:NOT RUNNING%></font></b></em>';
				php_state_head.style.display = 'table-cell';
				php_state.style.display = 'table-cell';
				}
			else{
				php_state_head.style.display = 'none';
				php_state.style.display = 'none';
			}
			var tbody_delete=website_list.getElementsByTagName('tbody');
			var tbody_size_delete = tbody_delete.length;
			for(var i = 1; i < tbody_size_delete; i++){
				website_list.removeChild(tbody_delete[1]);
			}
			var list = status.website_list.split(" ");
			var list_size = parseInt(status.website_list_size);
			for(var i = 0; i < list_size; i++){
				var tbody = document.createElement("tbody")
				var tr = document.createElement("tr");
				var address = document.createElement("td")
				address.innerHTML = list[2*i];
				address.style="display: table-cell;"
				address.width = "33%"
				var name = document.createElement("td");
				name.innerHTML = list[2*i+1];
				name.style="display: table-cell;"
				tr.appendChild(address);
				tr.appendChild(name);
				tbody.appendChild(tr);
				website_list.appendChild(tbody);
			}	
		}
	});
//]]></script>
